# Kconfig .old
*.old

# Repos
BeagleBoard-DeviceTrees/

# Python
__pycache__/

# MicroPython
*.uf2

# Device trees
*.dtb*
*.dts.tmp

# Linux images
oresat*.img
*.img.zst
*.sha256

# Vim
*.swp

# MacOS
.DS_Store

# u-boot
MLO
u-boot*.img

# packages
*.deb
*.whl
