[submodule "uboot/u-boot"]
	path = image_builder/u-boot
	url = https://github.com/oresat/u-boot
[submodule "device_trees/BeagleBoard-DeviceTrees"]
	path = device_trees/BeagleBoard-DeviceTrees
	url = https://github.com/beagleboard/BeagleBoard-DeviceTrees.git
[submodule "image_builder/image-builder"]
	path = image_builder/image-builder
	url = https://github.com/RobertCNelson/omap-image-builder.git
