[submodule "uboot/u-boot"]
	path = image_builder/u-boot
	url = https://github.com/oresat/u-boot
[submodule "image_builder/image-builder"]
	path = image_builder/image-builder
	url = https://github.com/RobertCNelson/omap-image-builder.git
