[Unit]
Description=CAN to dbus interface for all oresat daemons
After=systemd-network.service

[Service]
Type=forking
PIDFile=/run/oresat-candaemon.pid
ExecStart=/usr/bin/candaemon -d
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
