[Unit]
Description=CAN to dbus interface for all oresat daemons

[Service]
Type=forking
PIDFile=/run/oresat-candaemon.pid
ExecStart=/usr/bin/candaemon -d
Restart=on-failure

[Install]
WantedBy=milti-user.target
