[Unit]
Description=daemon for OreSat Linux Updater.

[Service]
Type=forking
Restart=always
PIDFile=/run/oresat-linux-updater.pid
ExecStart=/usr/bin/python3 /opt/oresat-linux-updater/updater_daemon.pyc start
ExecStop=/usr/bin/python3 /opt/oresat-linux-updater/updater_daemon.pyc stop

[Install]
WantedBy=multi-user.target
