#genimage.cfg
image sdcard.img {
  hdimage {
    partition-table-type = "gpt"
  }
  partition MLO {
    in-partition-table = "no"
    image = "MLO"
    offset = 128K
  }
  partition u-boot {
    in-partition-table = "no"
    image = "u-boot-dtb.img"
    offset = 384K
  }
  partition boot {
    bootable = "true"
    partition-type-uuid = "fat32"
    image = "boot.vfat"
    offset = 4M
  }
  partition rootfs {
    partition-type-uuid = "root-arm"
    partition-uuid = "00000000-0000-0000-0000-000000000000"
    image = "rootfs.ext4"
  }
  partition var {
    partition-type-uuid = "var"
    partition-uuid = "11111111-1111-1111-1111-111111111111"
    image = "varfs.ext4"
  }
  partition swap {
    partition-type-uuid = "swap"
    size = 1G
  }
}
image boot.vfat {
  size = 36M
  vfat {
    label = "boot"
  }
  mountpoint = "fs-bootfs"
}
image rootfs.ext4 {
  size = 2G
  ext4 {
    label = "root"
  }
  mountpoint = "fs-rootfs"
}
image varfs.ext4 {
    size = 2G
    ext4 {
        label = "var"
    }
    mountpoint = "fs-varfs"
  }
