#genimage.cfg
image sdcard.img {
        hdimage {
                partition-table-type = "mbr"
        }
        partition MLO {
                in-partition-table = "no"
                image = "MLO"
                offset = 128K
        }
        partition u-boot {
                in-partition-table = "no"
                image = "u-boot-dtb.img"
                offset = 384K
        }
        partition boot {
                bootable = "true"
                partition-type = 0xc
                image = "boot.vfat"
                offset = 4M
        }
        partition rootfs {
                partition-type = 0x83
                image = "rootfs.ext4"
        }
}
image boot.vfat {
        size = 36M
        vfat {
                label = "BOOT"
        }
        mountpoint = "fs-bootfs"
}
image rootfs.ext4 {
        size = "120%"
        ext4 {
                label = "rootfs"
        }
        mountpoint = "fs-rootfs"
}
