[Unit]
Description=daemon for OreSat Linux Updater.

[Service]
Type=forking
Restart=on-failure
PIDFile=/run/oresat-linux-updater.pid
ExecStart=/usr/bin/python3 /usr/lib/oresat-linux-updater/updater_daemon.py start
ExecStop=/usr/bin/python3 /usr/lib/oresat-linux-updater/updater_daemon.py stop

[Install]
WantedBy=multi-user.target
