[Unit]
Description=python daemon example for oresat linux

[Service]
Type=forking
Restart=always
PIDFile=/run/daemon-example.pid
ExecStart=/usr/bin/python3 /usr/bin/daemon-example.py start
ExecStop=/usr/bin/python3 /usr/bin/daemon-example.py stop

[Install]
WantedBy=multi-user.target
