[Unit]
Description=Allow OreSat Linux board to be updated.

[Service]
Type=forking
PIDFile=/run/oresat-linux-updater.pid
ExecStart=/usr/bin/python3 /usr/share/oresat-linux-updater/updater_daemon.py

[Install]
WantedBy=multi-user.target
